{#
/**
 * @file
 * Default theme implementation to display an ECK entity.
 *
 * Available variables:
 * - eck_entity: The full ECK entity with limited access to object properties
 *   and methods. Only "getter" methods (method names starting with "get",
 *   "has", or "is") and a few common methods such as "id" and "label" are
 *   available. Calling other methods (such as node.delete) will result in an
 *   exception.
 * - content: All ECK entity items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_eck_entity()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
'eck-entity',
'doc-request-dispute'
] %}
<div{{ attributes.addClass(classes) }}>
    <div class="row mb-2">
        <div class="area col-12 text-center mb-2"><h5>{{ content.field_area }}</h5></div>
        <div class="col-6">
            <div class="price">{{ content.price }} {{ content.field_additional_fee }}</div>
        </div>
        <div class="col-6">
            <div class="created text-right">{{ content.created }}</div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 highlight pt-2 pb-2">
            {{ content.field_email_copy_in_addition }}
            {{ content.field_instrument }}
            {{ content.field_book }}
            {{ content.field_page }}
            {{ content.field_note }}
        </div>
    </div>
    {{ content|without('uid', 'price', 'created', 'field_additional_fee', 'field_area', 'field_email_copy_in_addition', 'field_instrument', 'field_book', 'field_page', 'field_note') }}
</div>
